
body {
  margin: 0;
  padding: 0;
}
header {
  margin: 0;
  padding: 0;
  background: #f5f4f5;
  height: 40px;
}
.nav {
  width: 100%;
}
.nav li a{
  float: left;
  font-family: helvetica;
  font-size: 12pt;
  margin-left: 20px;
  margin-right: 15px;
  margin-top: 12px;
  color: #555;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
.head {
  width: 100%;
  height: 400px;
  margin: 0;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  background: url("../images/tree.jpg");
  margin-bottom: 60px;
}
.title {
  font-size: 30pt;
  font-weight: 400;
  text-shadow: 0px 2px rgba(0,0,0,0.5);
  color: #fff;
}
.plans {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.prices {
  width: 350px;
  overflow: hidden;
  /*background: #FCAB10;*/
  text-align: center;
  margin: 20px 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
}
.price {
  text-align: center;
  width: 100%;
  background: #44AF69;
  padding-top: 40px;
  padding-bottom: 50px;
}

.sb {
  background: #2B9EB3;
}
.en {
  background: #222;
}
.personal {
  color: #fff;
  letter-spacing: 3px;
  font-size: 15pt;
  font-weight: 400;
  margin: 0;
}
.num {
  font-size: 80pt;
  font-weight: 200;
  color: #fff;
  margin: 0;
}
.per-month {
  margin: 0;
  color: rgba(255,255,255,0.5);
  font-weight: 400;
}
.percs li {
  background: #f5f4f5;
  box-sizing: border-box;
  border-bottom: 1px solid #ccc;
  height: 50px;
  text-align: center;
  padding-top: 15px;
  color: #555;
}
.percs li:hover {
  background: #eee;
}
button {
  width: 100px;
  height: 40px;
  border-radius: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  background: #fff;
  color: #334;
  font-weight: 600;
}
button:hover {
  background: #eee;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.a-title {
  color: #333;
  font-size: 15pt;
  font-weight: 400;
  letter-spacing: 3px;
  text-transform: uppercase;
}
.a-content {
  color: #565656;
  line-height: 25px;
}
article {
  width: 400px;
  margin: 0 10px;
}
.foot {
  text-align: center;
  line-height: 30px;
}
.foot a {
  color: #fff;
  text-decoration: underline;
}
@media screen and (min-width: 479px) {

}
@media screen and (min-device-width: 768px) {
  .plans {
    flex-direction: row;
    justify-content: center;
  }
  .content {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
}
footer {
  height: 100px;
  background: #111;
  color: rgba(255,255,255,0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (min-device-width: 978px) {
  article {
    margin: 45px;
  }
}
